@import url("normalize.css");
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?9cak61');
	src:url('fonts/icomoon.eot?#iefix9cak61') format('embedded-opentype'),
		url('fonts/icomoon.woff?9cak61') format('woff'),
		url('fonts/icomoon.ttf?9cak61') format('truetype'),
		url('fonts/icomoon.svg?9cak61#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-coin:before {
	content: "\e600";
}
.icon-notebook:before {
	content: "\e601";
}
.icon-user:before {
	content: "\e602";
}
.icon-users:before {
	content: "\e603";
}
.icon-search:before {
	content: "\e604";
}
.icon-cog:before {
	content: "\e605";
}
.icon-pie:before {
	content: "\e606";
}
.icon-bars:before {
	content: "\e607";
}
.icon-menu:before {
	content: "\e608";
}
.icon-checkbox-checked:before {
	content: "\e609";
}
.icon-checkbox-unchecked:before {
	content: "\e60a";
}
.icon-radio-checked:before {
	content: "\e60b";
}
.icon-radio-unchecked:before {
	content: "\e60c";
}
.icon-compose:before {
	content: "\e60d";
}
.icon-trash:before {
	content: "\e60e";
}
.icon-trash2:before {
	content: "\e60f";
}
.icon-settings:before {
	content: "\e610";
}
.icon-tag:before {
	content: "\e611";
}
.icon-note:before {
	content: "\e612";
}
.icon-paperplane:before {
	content: "\e613";
}
.icon-banknote:before {
	content: "\e614";
}
.icon-calendar:before {
	content: "\e615";
}
.icon-wallet:before {
	content: "\e616";
}
.icon-truck:before {
	content: "\e617";
}
.icon-mail:before {
	content: "\e618";
}
.icon-paperplane2:before {
	content: "\e619";
}
.icon-user2:before {
	content: "\e61a";
}
.icon-users2:before {
	content: "\e61b";
}
.icon-user-add:before {
	content: "\e61c";
}
.icon-vcard:before {
	content: "\e61d";
}
.icon-calendar2:before {
	content: "\e61e";
}
.icon-bars2:before {
	content: "\e61f";
}

/* mis estilos */
#logo-content-nav{
	width: 240px;
	height: 180px;
	background-color: #52BAD5;
	position: relative;
	top: 0;
	left: 0;
}

#menu-lateral{
	position: relative;
	top: 0px;
	width: 240px;
	background-color: #FFFFFF;
}

#menu-perfil{
	position: absolute;
	top: 0;
	left: 240px;
	
	width: 240px;
	height: 100%;
	background-color: #393939;
}

#contenido-principal{
	position: absolute;
	top: 0;
	margin: 0 0 0 480px;
	background-color: #FFFFFF
}

#menu-lateral ul , #menu-perfil ul {
	width: 100%;
	list-style-type: none;
	padding: 0px;
	margin: 20px 0 0 0;

}
#menu-perfil ul{
	background-color: #484848;
	margin:0px;
}
#menu-lateral ul li, #menu-perfil ul li {
	width: 100%;
	list-style-type: none;
	
}
#menu-perfil ul li span {
	background-color: #515151;
	display:block;
	height: 40px;
	width: 100%;
	padding: 10px;
	color: #D3D3D3;
}
#menu-lateral ul li a ,#menu-perfil ul li a{
	display: block;
	text-decoration: none;
	color: #D3D3D3;
	font-size: 24px;
	height: 30px;
	padding: 20px 10px;
	width: 220px;
}
#menu-lateral ul li a:hover {
	color: #484848;
}

#menu-perfil ul li a:hover{
	color: white;
}

#menu-lateral ul li a span.icon{
	display: block;
	width: 50px;
	margin: 0 0 0 10px;
	float: left;
	font-size: 30px;
	color: #52BAD5
}
#menu-lateral ul li a span.text{
	display: block;
	width: 130px;
	margin: 0 10px;
	float: left;
}